
.container {
    background-color: #edf2f4;
    padding: 20px;
}

/* .portfolioImages {
    height: 50%;
    
} */

.portfolioLinks {
    font-size: 50px;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#4f6d7a;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
  }
