body {
    background-image: url(imgs/water-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
  }

.bio {
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.transparent {
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
  }

h1 {
    color: #364958;
    font-size: 50px;
}

.portfolioLinks {
    font-size: 40px;
    margin: 0;
    color: #3b6064;
}

.portfolioImages {
    border: solid #364958 1px;
    height: 400px;
    width: 400px;
    margin: 20px;
}


.navbar {
    position: relative;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

a {
    color: #364958;
}

.jumbotron {
    color: black;
    background: none;
    letter-spacing: 1px;
    height: 300px;
}

.name-hero {
    letter-spacing: 10px;
}

/* Carousel Code */
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }