body {
    background-image: url(imgs/water-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
  }

.container {
    background-color: #edf2f4;
    opacity: 90%;
    padding: 30px;
}

h1 {
    color: #364958;
    font-size: 50px;
}

.portfolioLinks {
    font-size: 40px;
    margin: 0;
    color: #3b6064;
}

.portfolioImages {
    border: solid #364958 1px;
}


.navbar {
    position: relative;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

a {
    color: #364958;
}